body{
	margin:0; 
	padding:0; 
	background:RGB(200,247,227);
}

a{
	text-decoration:none;
	color:white;
}

.goal_cont{
	background:RGB(157,228,234);
	height:315px;
	position:relative;
}


.goal_cont .goal_calendar{
	background:red;
}

.goal_cont .goal_calendar .time{
	display:block;
	position:relative;
	text-align:center;
	height:40px;
	font:bolder 25px/40px "Microsoft Yahe";	
}

.goal_cont .goal_calendar .time em{
	width:44px;
	height:40px;
	display:inline-block;
	position:absolute;
	top:0;
}

.goal_cont .goal_calendar .time .arrowl{
	left:15%;
	background:url(images/arrowl.png) center no-repeat RGB(200,247,227);
}

.goal_cont .goal_calendar .time .arrowr{
	right:15%;
	background:url(images/arrowr.png) center no-repeat RGB(200,247,227);
}

.goal_cont .goal_calendar .time i{
	font-style:normal;
}

.goal_cont .goal_calendar .cal_cont{
	width:315px;
	height:245px;
	/*font:normal 25px/40px "Microsoft Yahe";*/
	border:2px solid white;
	background:white;
	border-radius:5px;
	position:absolute;
	right:7.5px;

}

.goal_cont .goal_calendar .cal_cont .cal_sing{
	width:45px;
	height:35px;
	font:normal 20px/35px "Microsoft Yahe";
	text-align:center;
	float:left;
}

.goal_cont .goal_calendar .cal_cont .lgreen{
	background:RGB(200,247,227);
	border:1px dashed RGB(0,74,73);
	border-radius:5px;
	box-sizing:border-box;
	color:red;
	font-weight:bold;
}

.goal_cont .goal_detail{
	background:green;
	width:315px;
	height:265px;
}

.goal_cont .goal_detail .detail_cont{
	background:green;
}

.hidden{display:none;}

